# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
contacts.db

# Environment variables
.env

# Docker
# Dockerfile
# docker-compose.yml

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
